footer {
    background: var(--base-color);
}

footer.section {
    padding: 4rem 0;
}

footer .brand .logo {
    /*
        Por padrão, as tags <a> têm display inline.
        Para margin funcionar, precisa ser inline-block ou block.
    */
    display: inline-block;
    margin-bottom: 1.5rem;
}

footer .brand p{
    color: var(--text-color-light);
    margin-bottom: .75rem;
}

footer .social {
    grid-auto-flow: column;
    width: fit-content;
}

footer .social a{
    transition: .3s;
    /* Necessário alterar inline para inline-block para usar o translateY */
    display: inline-block;
}

footer .social a:hover{
    transform: translateY(-15px);
}

footer i{
    font-size: 1.5rem;
    color: var(--text-color-light);
}