.container {
    margin: 0 1.5rem;
}

.grid {
    display: grid;
    gap: 2rem;
}

.section {
    /* 
    Adiciona o tamanho do header "flutuante" para que ele não sobreponha o conteúdo.
    */
    padding: calc(5rem + var(--header-height)) 0;
}

.section .title{
    margin-bottom: 1rem;
}

.section .subtitle {
    font-size: var(--subtitle-font-size);
}

.section header{
    margin-bottom: 4rem;
}

.section header strong{
    color: var(--base-color);
}

#header {
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 2rem;
    display: flex;

    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--body-color);
}

#header.scroll {
    box-shadow: 2px 4px 12px rgba(0, 0, 0, .15);
}

