/* extra large devices: > 1200px */
@media (min-width: 1200px) {
    /* Base */
    .button {
        height: 3.125rem;
    }

    /* Layout */
    .container {
        max-width: 1120px;
        margin-left: auto;
        margin-right: auto;

    }

    .section {
        padding: 10rem 0;
    }

    .section header,
    #testimonials header {
        max-width: 32rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    /* Navigation */
    #header nav .menu {
        opacity: 1;
        visibility: visible;
        top:0;
    }

    #header nav .menu ul {
        display: flex;
        gap: 2rem;
    }

    #header nav ul li a.title {
        font: 400 1rem var(--body-font);
        -webkit-font-smoothing: antialiased;
    }

    #header nav ul li a.active {
        font-weight: bold;
        -webkit-font-smoothing: auto;
    }

    #header nav .icon-menu {
        display: none;
    }

    /* home */
    #home .container {
        grid-auto-flow: column;
        justify-content: space-between;
        margin: 0 auto;
    }

    #home .image {
        order: 1;
    }

    #home .text {
        order: 0;
        max-width: 25rem;
        text-align: left;
    }

    /* About */
    #about .container {
        grid-auto-flow: column;
        margin: 0 auto;
    }

    /* Services */
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card {
        padding-left: 3rem;
        padding-right: 3rem;
    }


    /* Testimonials */
    #testimonials .container {
        margin-left: auto;
        margin-right: auto;
    }

    /* Contact */
    #contact .container {
        grid-auto-flow: column;
        align-items: center;
    }

    #contact .text {
        max-width: 25rem;
    }

    /* Footer */
    footer.section {
        padding: 3.75rem 0;
    }

    footer .container {
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-between;
    }

    footer .logo {
        font-size: 2.25rem;
    }
}

/* medium devices: > 992px */
@media (min-width: 992px) {
    :root {
        --title-font-size: 2.25rem;
        --subtitle-font-size: 1.125rem;
    }

    main {
        margin-top: var(--header-height);
    }
}


/* medium devices: > 767px */