#testimonials {
    background: white;
}

#testimonials .container {
    margin-left: 0;
    margin-right: 0;
}

#testimonials header {
    margin: auto 1.5rem 0 1.5rem;
}

#testimonials blockquote {
    padding: 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .08);
    border-radius: .25rem;
}

#testimonials blockquote p {
    position: relative;
    text-indent: 1.875rem;
    margin-bottom: 1.5rem;
    color: var(--title-color);
}

#testimonials blockquote p span {
    font: 700 2.5rem serif;
    position: absolute;
    top: -.375rem;
    left: -1.875rem;
    color: var(--base-color);
}

#testimonials cite {
    display: flex;
    align-items: center;
    font-style: normal;
}

#testimonials cite img{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    clip-path: circle();
    margin-right: .5rem;
}

/* Swiper */
.swiper-slide {
    height: auto;
    padding: 4rem 1rem;
}

.swiper-pagination-bullet-active {
    background: var(--base-color);
}